<h1 align = "center">Merchants</h1>
<p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>
<section class = "grid-container">
  <% @merchants.each do |merchant|%>
    <section class = "grid-item" id='merchant-<%= merchant.id %>'>
      <% if site_admin? %>
        <p>
          <%= link_to merchant.name, admin_merchants_path(merchant) %>
          <p><%= "#{merchant.city}, #{merchant.state}"%></p>
          <% if merchant.enabled? %>
            <p><%= link_to 'Disable', admin_merchants_path(merchant), method: :patch %></p>
          <% else %>
            <p><%= link_to 'Enable', admin_merchants_path(merchant), method: :patch %></p>
          <% end %>
        </p>
      <% else %>
        <p><%= link_to merchant.name, merchant_path(merchant) %></p>
      <% end %>
    </section>
  <% end %>
</section>
