<h1>All My Items</h1>

<% if merchant_admin? %>
  <%= link_to 'Add New Item', merchant_items_new_path %>
<% end %>

<% @items.each do |item| %>
  <section id= "item-<%= item.id %>">
    <%= item.name %>
    <% if item.active? %>
      <%= link_to 'Deactivate Item', merchant_items_deactivate_path(item_id: item.id, activate_deactivate: 'deactivate'), method: :patch %>
    <% end %>
    <% if merchant_admin? %>
      <%= link_to 'Edit', merchant_items_edit_path(item.id) %>
    <% end %>
  </section>
<% end %>
